body{
    background-color: rgb(225, 248, 225);
    font-family: 'Trebuche MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgb(36, 61, 61);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 0.8rem;
}

.site-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.site-main {
    padding: 2rem;
    /* margin: 20px;
    border: 2px black solid; */
}

.welcome {
    text-align: center;
    padding: 40px 20px;
    border-radius: 25px;
    background-color:white;
    color:  rgb(36, 61, 61);
}

.events {
    margin-top: 20px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 25px;
}

.event {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: black 1px solid;
    max-width: 300px; 
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .event-grid {
        grid-template-columns: 1fr;
    }
}